html{
	height: 100%;
}

body{
	height: 100%;
	background-color: #f0f0f0;
}

.navbar{
	padding: 0 15%;
}

.parallax{
	background-attachment: fixed;
}

.carousel-inner{
	height: 90vh;
}

.item{
	background-size: cover;
	background-position: center;
	height: 100%;
}

.carousel-control{
	transition: 0.5s;
}

.carousel-caption{
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.2), 0px 18px 23px rgba(0,0,0,0.1);
}

.content{
	padding: 25px 25px;
	text-align: center;
}

.content h2{
	text-decoration: underline;
	color: steelblue;
}

p{
	font-size: 1.5em;
}

.hideme{
	opacity: 0;
	transition: 2.0s;
}

.container{
	padding: 25px 0;
	height: auto;
}

.banner{
	position: relative;
	text-transform: uppercase;
	background-size: cover;
	background-position: center;
	height: 50vh;
	text-align: center;
}

.banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.2), 0px 18px 23px rgba(0,0,0,0.1);
}

.gridpic{
	border: solid white 10px;
	background-size: cover;
	background-position: center;
	height: 35vh;
	transition: 0.3s;
}

.gridpic h2{
	text-align: center;
	vertical-align: middle;
	color: white;
	visibility: hidden;
}

.gridpic:hover{
	filter: brightness(0.7);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	z-index: 1;
}

.gridpic:hover h2{
	visibility: visible;
}

ul{
	list-style-type: none;
}

.list h1{
	color: steelblue;
}

.list h3{
	color: navy;
}

.list li{
	padding: 5px 5%;
}

footer{
	height: 3%;
	text-align: center;
	background-color: steelblue;
	padding: 0;
	margin: 0;
}

.footer-text{
	color: white;
}

.btn-primary{
	outline: none;
}